@import "../../styles/variables.scss";

.quemSomos {

  background-color: $color-cinza-fundo;
  min-height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: center;


  & .textoWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100%;
    text-align: center;
    padding: 0 16rem;

    & h2 {
      color: $color-vermelho;
      font-size: 1.5rem;
      font-weight: bold;
    }

    & h1 {
      color: $color-azul-primario;
      font-size: 3.75rem;
      font-weight: bold;
    }

    & p {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }

  }

  & button {
    align-self: center;
    margin-top: 5rem;
    height: 3rem;
    width: 11rem;
    text-align: center;
    color: $color-branco;
    border-radius: 21px;
    background: $color-laranja-gradiente;
    border-radius: 21px;

    cursor: pointer;

    &:hover {
      background: $color-branco;
      color: $color-laranja;
      border: 1px solid $color-laranja;
    }
  }
}