@import '../../styles/variables.scss';

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    background-color: $color-branco;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & .modalClose {
        position: absolute;
        top: 0.8rem;
        right: 1.2rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-vermelho;
        cursor: pointer;
    }

    & .modalTitle {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: $color-azul-primario;
    }
}


.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    font-size: 1rem;
    margin-bottom: 1rem;

    & .preco {
        font-weight: bold;
        color: $color-azul-primario;
    }

    & .descricao {
        margin-bottom: 0.5rem;
        width: 100%;
    }
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.modalFooter button {
    background-color: $color-azul-primario;
    color: $color-branco;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;

    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modalContent {
        max-width: 100%;
        margin: 1rem;
    }
}