@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.heroSection{

  @include centerGrid;
  background-color: $color-azul-primario;
  background-image: url("/heroImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  
  & .text{
    color: #FFF;
    max-width: 30vw;
    & h2{
      text-transform: uppercase;
    }

    & h1{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3.75rem;
    }
    & p{
      margin-top: 1rem;
    }
  }

  & button{
    background-color: $color-branco;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-vermelho;
    font-size: 1.2rem;
    min-width: 10rem;
    text-align: center;
    padding: .5rem;
    border-radius: 10rem;
    margin-top: 2rem;
    cursor: pointer;

    &:hover{
      color: $color-branco;
      background-color: $color-vermelho;
    }
  }

}


@media screen and (max-width: 768px) {
  .heroSection{
    justify-content: center;
    padding: 2rem;
    & .text{
      max-width: 80vw;
      text-align: center;
      & h1{
        font-size: 2.5rem;
      }
    }
  }
}