@import "./variables.scss";

@mixin centerGrid{
  width: 90rem;
  padding: 0 10rem;
}

@mixin mainButton{
  margin-left: 2rem;
  background-color: $color-vermelho;
  color: $color-branco;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor:pointer;

  &:hover{
    background-color: $color-branco;
    color: $color-vermelho;
    border: 2px solid $color-vermelho;
  }
}