$color-cinza-escuro: #707070;
$color-azul-primario: #2E3691;

$color-vermelho: #C02528;
$color-branco: #FFF;

$color-laranja-gradiente: linear-gradient(90deg, #FAA836 0%, #FF581D 100%);
$color-laranja: #FF581D;