@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {

  @include centerGrid;
  
  display: flex;
  align-items: center;
  min-height: 7.5rem;  
  color: $color-cinza-escuro;
  font-weight: 500;
  line-height: 1.3rem;
  

   .logoWrapper {
    flex-grow: 8;

     img {
      height: 4rem;
    }
  }

   .menu {

    flex-grow: 2;
    display: flex;
    justify-content: space-between;


     li {
      cursor: pointer;

      &:after {
        display: block;
        content: '';
        border-bottom: solid 3px $color-azul-primario;
        transition: transform 250ms ease-in-out;
        transform: scaleX(0);
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }

  }

  & button {
    @include mainButton;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 0 1.5rem;

    & .logoWrapper {
      flex-grow: 0;

      & img {
        height: auto;
        width: 80%;
      }
    }

    & .menu {
      display: none;
    }

    & button {
      display: block;
      margin: 0 0.5rem;
      padding: 0.8rem;
      width: auto;
      font-size: 0.8rem;
    }
  }
}
