@import "../../styles/variables.scss";

.tiposProdutos {
  padding: 7rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $color-cinza-claro;


  & .texto {

    flex-grow: 0;
    width: 25%;
    

    & h2 {
      color: $color-azul-primario;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    & p {
      font-size: 1rem;
      line-height: 1.4;
      color: $color-cinza-escuro;
      margin: 1rem 0;

      & li {
        list-style:circle;
        margin-left: 1rem;
      }	
    }

    & button {
      align-self: center;
      margin-top: 5rem;
      height: 3rem;
      width: 11rem;
      text-align: center;
      text-transform: uppercase;
      color: $color-branco;
      border-radius: 21px;
      background: $color-laranja-gradiente;
      border-radius: 21px;

      cursor: pointer;

      &:hover {
        background: $color-branco;
        color: $color-laranja;
        border: 1px solid $color-laranja;
      }
    }
  }

  & .tipos {
    flex-grow: 100%;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;

    & ul {
      list-style: none;
      white-space: nowrap;

      & li {
        display: inline-block;

        & span, img, a {
          display: block;
          text-align: center;
          text-transform: uppercase;
        }

        & span {
          color: $color-azul-primario;
          font-weight: 700;
        }

        & a {
          font-size: 0.8rem;

          &:hover {
            color: $color-laranja;
          }
        }

      }
    }

  }
}

@media screen and (max-width: 1300px) {
  .tiposProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .texto {
      width: 100%;
      text-align: center;

      & button {
        margin: 1.5rem 0;
      }
    
    }
    & .tipos {
      width: 100%;
    
      }
    }
  }

@media screen and (max-width: 988px) {
  .tiposProdutos {
    padding: 7rem 2rem;
    flex-direction: column;

    & .texto {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;

      & h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      & p {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      & button {
        margin: 1.5rem 0;
      }
    }

    & .tipos {
      width: 100%;

      & ul {
        & li {
          display: block;
          margin-bottom: 1.5rem;
          & a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}