@import "../../styles/variables.scss";

.tiposProdutos {
  padding: 7rem 10rem;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-cinza-claro;


  & .texto {

    flex-grow: 0;
    width: 25%;


    & h2 {
      color: $color-azul-primario;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    & p {
      font-size: 1.1rem;
      color: $color-cinza-escuro;
      margin: 1rem 0;
    }

    & button {
      align-self: center;
      margin-top: 5rem;
      height: 3rem;
      width: 11rem;
      text-align: center;
      text-transform: uppercase;
      color: $color-branco;
      border-radius: 21px;
      background: $color-laranja-gradiente;
      border-radius: 21px;

      cursor: pointer;

      &:hover {
        background: $color-branco;
        color: $color-laranja;
        border: 1px solid $color-laranja;
      }
    }
  }

  & .tipos {
    flex-grow: 100%;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;

    & ul {
      list-style: none;
      white-space: nowrap;

      & li {
        display: inline-block;

        & span, img, a {
          display: block;
          text-align: center;
          text-transform: uppercase;
        }

        & span {
          color: $color-azul-primario;
          font-weight: 700;
        }

        & a {
          font-size: 0.8rem;

          &:hover {
            color: $color-laranja;
          }
        }

      }
    }

  }
}