@import "../../styles/variables.scss";

.tiposProdutos {
  padding: 7rem 10rem;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-cinza-claro;


  & .texto {

    flex-grow: 0;
    width: 25%;


    & h1 {
      color: $color-azul-primario;
      font-size: 2.5rem;
    }

    & p {
      font-size: 1.1rem;
      color: $color-cinza-escuro;
    }

    & button {
      align-self: center;
      margin-top: 5rem;
      height: 3rem;
      width: 11rem;
      text-align: center;
      color: $color-branco;
      border-radius: 21px;
      background: $color-laranja-gradiente;
      border-radius: 21px;

      cursor: pointer;

      &:hover {
        background: $color-branco;
        color: $color-laranja;
        border: 1px solid $color-laranja;
      }
    }
  }

  & .tipos {
    flex-grow: 100%;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;

  }
}